@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

/* サイドバー */
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
  padding: 10px;
}

.main-container {
  width: 100%;
}

.sidebar a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-top: 20px;
}

.sidebar a:hover {
  color: whitesmoke;
}

.sidebar .material-symbols-outlined {
  color: white;
  margin-right: 5px;
  font-size: 25px;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.modal__content_delete {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

/* 掲示板 */
.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_username {
  color: #999;
  font-weight: bold;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.badge.badge-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  font-size: 1.0rem;
  font-weight: normal;
}

.post_bottom_area {
  justify-content: space-between;
}

.post_icon {
  margin-top: auto;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

/* アコーディオンメニュー */
.main-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: #333;
  border-bottom: 1px solid #000;
  list-style: none;
  font-size: 1.2rem;
}

/* 閉じている状態：下向きの「∨」 */
.main-category::after {
  content: '';
  width: 8px;
  height: 8px;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  transform: rotate(45deg);
  transition: transform 0.2s;
  margin-right: 5px;
}

/* 開いている状態：上向きの「∧」 */
.category-group[open] .main-category::after {
  transform: rotate(-135deg);
  margin-top: 5px;
}

.sub-category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-category-item {
  width: 90%;
}

.sub-category-link {
  display: block;
  padding: 5px 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ddd;
  font-size: 1.0rem;
}

.sub-category-link:hover {
  border-bottom: 1px solid #333;
  color: #333;
  text-decoration: none;
}

.btn.btn-pink {
  background-color: PaleVioletRed;
  color: white;
  margin-right: 1px;
  height: 45px;
}

.btn.btn-orange {
  background-color: #F8B400;
  color: white;
  margin-left: 1px;
  height: 45px;
}

.post_btn.btn,
.btn.btn-orange,
.btn.btn-pink {
  border-radius: 10px;
}

.btn.btn-orange:hover,
.btn.btn-pink:hover {
  color: white;
  font-weight: bold;
}

.search_box,
.post_btn.btn {
  height: 40px;
}

.search_box input {
  width: 70%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #ECF1F6;
  border-color: #D3D3D3;
}

.post_search_btn {
  width: 30%;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.post_btn.btn,
.post_search_btn.btn,
.badge.badge-info {
  background-color: #03AAD2;
}

.category_search {
  color: #333;
  font-size: 1.1rem;
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detail_post_title {
  font-size: 14px;
}

.detail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #999;
  color: #FFF;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-color: #a9a9a9 #f0f0f0;
  padding: 20px;
  justify-content: center;
  gap: 20px
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 250px;
  height: 250px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.search_area {
  width: 30%;
}

.search_keyword {
  width: 350px;
}

.search_keyword p {
  font-size: 1.5rem;
}

.search_keyword input {
  height: 50px;
  background-color: #d4d9df;
  border-radius: 10px;
  border-style: none;
}

.search_category select,
.search_updown select {
  width: 100px;
  background-color: #d4d9df;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

.search_conditions_area {
  width: 350px;
}

.sex_selection input {
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;
  margin-bottom: 4px;
  transform: scale(0.8);
}

.role_selection select {
  width: 120px;
  background-color: #d4d9df;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

.subject_selection input {
  transform: scale(0.8);
  cursor: pointer;
}


.search_btn_area button {
  width: 350px;
  height: 60px;
  border-radius: 10px;
  background-color: #03AAD2;
}

.reset_link {
  width: 350px;
  color: #03AAD2;
  font-size: 1.2rem;
}

.reset_link:focus {
  outline: none;
  text-decoration: underline;
}


.subject_edit_btn {
  color: #03AAD2;
  cursor: pointer;
}

.subject_flex_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.subject_label {
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
}

.subject_label input {
  border-radius: 5px;
  transform: scale(0.9);
}

.bg-secondary-subtle {
  background-color: #eee;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal__bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding-left: 300px;
  padding-right: 300px;
  border-radius: 5px;
  text-align: start;
}

.modal__btns {
  display: flex;
  justify-content: space-between;
}


.calendar_table {
  width: 1200px;
  margin: auto;
  table-layout: fixed;
}

.reserve-button {
  width: 1250px;
}

.calendar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 110px;
  padding-top: 0;
}

.reserve-item {
  width: 75px;
  height: 25px;
  font-size: 15px;
  display: block;
  padding: 0;
}

.calendar-select-box {
  width: 100px;
  height: 25px;
  font-size: 15px;
  padding: 0;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 奇数行（1, 3, 5...行目）の背景色を指定 */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff !important;
  /* ここに好きな色を入れてください（例：ごく薄い青） */
}

/* 偶数行（2, 4, 6...行目）を白に固定したい場合 */
.table-striped tbody tr:nth-of-type(even) {
  background-color: #e6f7ff;
}
